In [15]:
import pandas as pd
df = pd.read_csv("C:\\Users\\YPC\\Downloads\\carprices.csv")
df
dummies = pd.get_dummies(df["Car Model"], dtype=int)
dummies
merged = pd.concat([df,dummies],axis='columns')
merged
final = merged.drop(['Car Model'], axis='columns')
final
final = final.drop(['Mercedez Benz C class'], axis='columns')
final
X = final.drop(['Sell Price'], axis='columns')
X
# y = final['Sell Price']
# from sklearn.linear_model import LinearRegression
# model = LinearRegression()
# model.fit(X,y)
# model.predict(X)

    Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6        0       1
1     35000         3        0       1
2     57000         5        0       1
3     22500         2        0       1
4     46000         4        0       1
5     59000         5        1       0
6     52000         5        1       0
7     72000         6        1       0
8     91000         8        1       0
9     67000         6        0       0
10    83000         7        0       0
11    79000         7        0       0
12    59000         5        0       0

In [18]:
import pandas as pd
df = pd.read_csv("C:\\Users\\YPC\\Downloads\\carprices.csv")
df
dummies = pd.get_dummies(df["Car Model"], dtype=int)
dummies
merged = pd.concat([df,dummies],axis='columns')
merged
final = merged.drop(['Car Model'], axis='columns')
final
final = final.drop(['Mercedez Benz C class'], axis='columns')
final
X = final.drop(['Sell Price'], axis='columns')
X
y = final['Sell Price']
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)
model.predict([[86000,7,0,1]])

C:\Users\YPC\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11080.74313219])

In [19]:
model.predict([[45000,4,0,0]])

C:\Users\YPC\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36991.31721061])

In [20]:

model.score(X,y)

0.9417050937281082